{{!--
    This partial renders a box containing information about a single operation of the service
    (such as calling a POST on the "/pets" resource).
    @param {Operation} operation a Swagger-Operation object.
    @param {string} method the http-method (GET, POST, DELETE, PUT, PATCH)
    @param {string} path the path of the resource (e.g. `/users/{id}`)
    @param {ParametersObject} pathItemParameters parameters defined in the Path Item Object
    @api public
--}}

{{!--
Renders a table row for the schemes, consumes and produces table
--}}
{{#*inline "stringArrayRow"}}
    {{#if value}}
        <tr data-oai-keywords="{{keyword}}">
            <td>{{key}}</td>
            <td>
                {{#if value.length}}
                    {{#each value}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}
                {{else}}
                    None
                {{/if}}
            </td>
        </tr>
    {{else if fallbackValue}}
        <tr class="openapi--fallback-value" data-oai-keywords="{{keyword}}">
            <td>{{key}}</td>
            <td title="global {{key}}">
                {{#if fallbackValue.length}}
                    {{fallbackValue}}
                {{else}}
                    None
                {{/if}}
            </td>
        </tr>
    {{/if}}
{{/inline}}

{{#*inline "singleValueRow"}}
    {{#if value}}
        <tr data-oai-keywords="{{keyword}}">
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
    {{else if fallbackValue}}
        <tr class="openapi--fallback-value" data-oai-keywords="{{keyword}}" title="inherited from global {{key}}">
        <td>{{key}}</td>
        <td>{{fallbackValue}}</td>
        </tr>
    {{/if}}
{{/inline}}

{{#if operation}}
    <div id="operation-{{htmlId path}}-{{htmlId method}}"
         class="openapi--panel-operation openapi--panel-operation-{{method}} {{#if
                 operation.deprecated}}deprecated{{/if}}">
        <div class="panel-heading">
            <div class="openapi--operation-summary">
                {{#if operation.deprecated}}<span data-oai-keywords="deprecated" class="label label-danger right">deprecated</span>{{/if}}
                <span data-oai-keywords="summary">{{md operation.summary stripParagraph="true"}}</span>
            </div>
            <h3 class="panel-title">
                <span class="openapi--operation-name">{{toUpperCase method}}</span>
                <strong>{{path}}</strong>
            </h3>
            {{#if operation.tags}}
                Tags:
                {{#each operation.tags}}
                    <a href="#tag-{{htmlId .}}">{{.}}</a>{{#unless @last}}, {{/unless}}
                {{/each}}
            {{/if}}
        </div>
        <div class="panel-body">
            <section class="openapi--operation-description">
                {{md operation.description}}
            </section>

            <table class="table openapi--operation-properties">
                {{> stringArrayRow key='Consumes' keyword='consumes' value=operation.consumes fallbackValue=@root.consumes}}
                {{> stringArrayRow key='Produces' keyword='produces' value=operation.produces fallbackValue=@root.produces}}
                {{> stringArrayRow key='Schemes' keyword='schemes' value=operation.schemes fallbackValue=@root.schemes}}
                {{> singleValueRow key='Operation ID' keyword='operationId' value=operation.operationId}}
                {{#if operation.externalDocs}}
                    <tr>
                        <td>External Docs</td>
                        <td>{{> openapi/externalDocs externalDocs=operation.externalDocs}}</td>
                    </tr>
                {{/if}}
            </table>

            {{#if (openapi__has_params operation)}}
                <section class="openapi--operation-parameters" data-oai-keywords="parameters">
                    <h4>Parameters</h4>
                    <div class="table-responsive">
                        <table class="table openapi--operation-params">
                            <thead>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Description</th>
                            <th>Data-Type</th>
                            </thead>
                            <tbody>
                            {{> openapi/parameterGroup title='Path Variable' group=operation.paramsIn.path cssClass="path"}}
                            {{> openapi/parameterGroup title='Query Parameter' group=operation.paramsIn.query cssClass="query"}}
                            {{> openapi/parameterGroup title='Form Data' group=operation.paramsIn.formData cssClass="formData"}}
                            {{> openapi/parameterGroup title='Request Header' group=operation.paramsIn.header cssClass="header"}}
                            </tbody>
                        </table>
                    </div>
                </section>
            {{/if}}

            {{#if operation.paramsIn.body}}
                <h4>Request Body</h4>
                {{! We use "#each" because there is must not be more than one body-parameter and the name is irrelevant }}
                {{#each operation.paramsIn.body}}
                    <div class="openapi--request-body">
                        {{md description}}
                        {{> json-schema/schema schema}}
                    </div>
                {{/each}}
            {{/if}}

            <section class="openapi--operation-responses" data-oai-keywords="responses">
                <h4>Responses</h4>
                <div class="utils-cards">
                    {{#eachSorted operation.responses}}
                        <div class="utils-card">
                            <div class="header">
                                {{@key}} - {{openapi__response_code @key}}
                            </div>
                            <div class="contents">
                                {{md description}}
                                {{> json-schema/schema schema}}
                            </div>
                        </div>
                    {{/eachSorted}}
                </div>
            </section>
        </div>
    </div>
{{/if}}