{{!--
 renders a single operation definition.
--}}
<div id="operation-{{htmlId path}}-{{htmlId operation}}" class="swagger--panel-operation-{{operation}} panel">
    <div class="panel-heading">
        <div class="operation-summary">{{md summary "true"}}</div>
        <h3 class="panel-title"><span class="operation-name">{{toUpperCase operation}}</span> <strong>{{path}}</strong></h3>
    </div>
    <div class="panel-body">
        <section class="sw-operation-description">
            {{md methodDef.description}}
        </section>
        {{>swagger/request-body}}
        {{>swagger/parameters}}
        {{>swagger/responses}}
        {{>swagger/security}}
    </div>
</div>