{{! renders ths parameter table withing a method definition.}}

{{#if parameters}}
    <section class="sw-request-params">
        <table class="table">
            <thead>
            <tr>
                <th class="sw-param-name"></th>
                <th class="sw-param-description"></th>
                <th class="sw-param-type"></th>
                <th class="sw-param-data-type"></th>
            </tr>
            </thead>
            <tbody>
            {{#each parameters}}
                <tr>
                    <td>{{name}}
                        {{#if required}}
                            <span class="json-property-required"></span>
                        {{/if}}</td>
                    <td>{{md description}}</td>
                    <td>{{in}}</td>
                    <td>
                        {{json-schema--datatype .}}{{#if collectionFormat}},
                        <span class="sw-param-collection-format">{{collectionFormat}}</span>
                    {{/if}}

                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </section>
{{/if}}