{{!--
    Display a single parameter in a table row.
    @param {Parameter} parameter a parameter object
    @param {string=} key a reference key (if present, this is display in an additional 
        column in front of the other columns
    @api public
--}}
<tr>
    {{#if key}}
        <td><a name="/parameters/{{key}}"></a>{{key}}</td>
    {{/if}}
    <td>{{parameter.name}}
        {{#if parameter.required}}
            <span class="json-property-required"></span>
        {{/if}}</td>
    <td>{{md parameter.description}}</td>
    <td>{{parameter.in}}</td>
    <td>
        {{>json-schema/datatype parameter}}
        {{#if parameter.items}}
            ,{{>json-schema/datatype parameter.items}}
        {{/if}}
        {{#if parameter.collectionFormat}}
            <div class="sw-param-collection-format">{{md (swagger--collection-format parameter.collectionFormat)}}</div>
        {{/if}}
    </td>
</tr>
