{{!--
    A table containing details for response definitions. This partial is used inside 
    operations and for the global responses-field

   @param {boolean} global if this value is set to true, the global responses are rendered. This 
         attaches css-ids as anchors to the response definitions
--}}


<table class="table">
    <thead>
    <tr>
        <th class="{{#if global}}sw-response-name{{else}}sw-response-code{{/if}}"></th>
        <th class="sw-response-description"></th>
        <th class="sw-response-data-type hidden-xs hidden-sm"></th>
    </tr>
    </thead>
    
    <tbody>
    {{#each responses}}
   
        {{! If global is set, attach an id to the table row }}
        <tr class="sw-response-{{@key}}">
            <td>
                {{#if ../global}}
                    <a name="/responses/{{@key}}"></a>
                    <span class="sw-response-name-value">{{@key}}</span>
                {{else}}
                    {{@key}}
                {{/if}}

            </td>
            {{#if $ref}}
                <td colspan="2">{{>json-schema/reference $ref}}</td>
            {{else}}
                <td>
                    <div class="sw-response-description-text">
                        {{md description}}
                    </div>
                    <section class="visible-xs visible-sm">
                        {{>swagger/model model=schema}}
                    </section>
                </td>
                <td class="hidden-xs hidden-sm">{{>swagger/model model=schema}}</td>
            {{/if}}
        </tr>
    {{/each}}
    </tbody>
</table>
