<h2>Summary</h2>
<table class="table table-bordered table-condensed swagger--summary">
    <thead>
    <tr>
        <th>Path</th>
        <th>Method</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {{#eachSorted paths}}
        {{#eachSorted .}}
            <tr>
                {{#if @first}}
                    <td class="swagger--summary-path" rowspan="{{@length}}">
                        <a href="#path-{{htmlId @../key}}">{{@../key}}</a>
                    </td>
                {{/if}}
                <td>
                    <a href="#method-{{htmlId @../key}}-{{htmlId @key}}">{{toUpperCase @key}}</a>
                </td>
                <td>
                    {{md summary}}
                </td>
            </tr>
        {{/eachSorted}}
    {{/eachSorted}}
    </tbody>
</table>
