# Template structure

{{#renderTree partialTree}}
{{! Display each node as link to the anchor with the same name.}}
<b><a href="#{{{name}}}">{{{label}}}</a></b><br/>
{{#if summary}}<i>{{{summary}}}</i>{{/if}}
{{/renderTree}}

# Partial reference

{{#each partials}}
## <a name="{{name}}">{{name}}</a>
{{#each apidocs}}
{{{markdown}}}
{{/each}}

{{#if children}}
Uses the following partials:
{{#each children}}
* [{{.}}](#{{.}})
{{/each}}
{{/if}}

{{/each}}